@import "nib"

body, html
  height 100%
  width 100%
  margin 0
  padding 0
  overflow hidden !important

body
  display flex
  align-items center
  justify-content center
  font-family 'Roboto', sans-serif

.invite-wrapper
  max-width 400px
  margin 50px
  text-align center
  img
    max-width 100%
